body, header, nav, main, footer, .footerNav, .leftBlock, .rightBlock, .container  {
    display: flex;
}

body, nav, main, .footerNav {
    flex-direction: column;
 }

header, footer, .container, .leftBlock, .rightBlock {
    flex-direction: row;
 }

body, .info, .title, .block h2, .create {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

footer, .footerNav a {
    text-decoration: none;
    color: rgb(133, 133, 133);
    font-size: 14px;
}

.blockPhotos, .footerNav a {
    display: block;
}

a:hover {
    text-shadow: 0 0 10px rgba(65, 63, 63, 0.5);
}

nav, .text, .linkText, .overText  {
    position: absolute;
}

nav {
    right: 20px;
    top: 10px;
}

.block {
    flex-grow: 1;
    padding: 60px;
}

a, footer, .linkText {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

header, main, .headerNav a {
    color: #fff;
}

h2 {
    font-size: 41px;
}

.header {
    background-color: rgb(180, 189, 203);
    padding: 25px 60px 60px 60px;
}

.info {
    font-size: 18px;
    font-size: 18px; 
    padding-top: 20px;
    text-align: left; 
    width: 80%;
    line-height: 1.6;
}

.understanding {
    background-color: rgba(201,163,164,1);
}

.interfacing {
    background-color: rgba(167,206,239,1);
}

.engineering {
    background-color: rgba(172,181,172,1);
}

.backPhoto {
    width: 100%;
    margin: 0;
}

.text {
    top: 200px;
    left: 0;
    width: 100%;
} 

.logoHeader {
    width: 58px;
    height: 40px;
}

.title {
    font-size: 60px;
    padding-bottom: 145px;
}

.navLink {
    font-size: 13px;
    line-height: 150%;
}

.headerLinks {
    border-top: 2px solid white;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 19px;
}

.headerText {
    width: 30%;
    margin-right: 60px;
}

.wave {
    margin-left: 60px;
}

.arrow {
    padding-right: 15px;
    padding-left: 5px;
}

.block h2 {
    font-size: 41px;
    padding-bottom: 40px;
    border-bottom: 2px solid white;
}

.linkText {
    bottom: 60px;
}

footer {
    padding: 40px 15px 40px 40px;
}

.rightBlock {
    width: 50%;
    justify-content: space-around;
}

input {
    border: none;
    text-transform: uppercase;
}

input:focus {
    outline: none;
    background-color: rgba(209, 210, 211, 0.5);
}

.emailDiv {
    border-bottom: 1px solid rgb(133, 133, 133);
    padding-top: 15px;
    padding-bottom: 5px;
    width: 120%;
}

#email {
    width: 80%;
}

button:hover {
    cursor: pointer;
}

.emailBtn {
    background-color: #fff;
    border: none;
}

.logoFooter {
    width: 50px; 
    height: 30px;
    padding-top: 20px; 
    padding-right: 40px;
}

.leftBlock, footer {
    justify-content: space-between; 
}

.overText {
    top: 20px; 
    left: 20px;
    width: 35%;  
    padding: 60px 60px 0px 60px; 
}

.bigSection, .block {
    position: relative;
}

.create {
    border-bottom: 2px solid white; 
    font-size: 40px; 
    padding-bottom: 40px;
}
